In [1]:
import pandas as pd

In [3]:
data = pd.read_csv(r"C:\Users\amank\Downloads\Annam(Madhur&Co.)\Data\StateName_HARYANA_dataset.csv")

C:\Users\amank\AppData\Local\Temp\ipykernel_2860\2517121308.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(r"C:\Users\amank\Downloads\Annam(Madhur&Co.)\Data\StateName_HARYANA_dataset.csv")

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3125832 entries, 0 to 3125831
Data columns (total 15 columns):
 #   Column        Dtype
---  ------        -----
 0   BlockName     object
 1   Category      object
 2   Year          int64
 3   Month         int64
 4   Day           int64
 5   Crop          object
 6   DistrictName  object
 7   QueryType     object
 8   Season        object
 9   Sector        object
 10  StateName     object
 11  QueryText     object
 12  KccAns        object
 13  latitude      float64
 14  longitude     float64
dtypes: float64(2), int64(3), object(10)
memory usage: 357.7+ MB

In [6]:
data.head()

,BlockName,Category,Year,Month,Day,Crop,DistrictName,QueryType,Season,Sector,StateName,QueryText,KccAns,latitude,longitude
0,0,0,2009,1,11,Wheat,HISSAR,21,KHARIF,AGRICULTURE,HARYANA,HOW TO CONTROL WILD OATS IN WHEAT CROP,SPRAY TO TOPIK 160 GM IN 200 LITRES OF WATER ...,29.8573,76.4545
1,0,0,2009,1,11,Wheat,HISSAR,21,KHARIF,AGRICULTURE,HARYANA,HOW TO CONTROL WILD OATS IN WHEAT CROP,SPRAY TO TOPIK 160 GM IN 200 LITRES OF WATER ...,29.8573,76.4545
2,0,0,2009,1,11,Sunflower suryamukhi,HISSAR,1,KHARIF,AGRICULTURE,HARYANA,INFORMATION REGARDING SOWING TIME OF SUNFLOWER...,THE SOWING TIME OF SUNFLOWER CROP 15 JAN-15 FEB,29.8573,76.4545
3,0,0,2009,1,11,Wheat,HISSAR,3,KHARIF,AGRICULTURE,HARYANA,HOW TO CONTROL OF TELA IN WHEAT CROP,SPRAY TO ENDOSULFAN 35EC 500ML IN 200 LITER O...,29.8573,76.4545
4,0,0,2009,1,11,Wheat,HISSAR,Fertilizer Use and Availability,KHARIF,AGRICULTURE,HARYANA,INFORMATION REGARDING HOW CAN CONTROL MANGANES...,SPRAY WITH 1KG MANGANESE SULPHATE IN 200 LITER...,29.8573,76.4545

In [10]:
data['BlockName'].unique()

array(['0   ', 'HISAR-I', 'HANSI-I', 'ADAMPUR', 'NARNAUND', 'BARWALA',
       'UKLANA', 'AGROHA', 'SIRSA', 'DABWALI', 'RANIA',
       'NATHUSARI CHOPTA', 'ODHAN', 'ELLENABAD', 'BARAGUDHA', 'BHIWANI',
       'BADHRA', 'DADRI-I', 'BEHAL', 'LOHARU', 'BAWANI KHERA', 'TOSHAM',
       'KAIRU', 'DADRI-II', 'ROHTAK', 'SAMPLA', 'KALANAUR', 'MAHAM',
       'SONIPAT', 'KHARKHODA', 'GOHANA', 'GANAUR', 'KATHURA', 'RAI',
       'GURGAON', 'FARRUKH NAGAR', 'PATAUDI', 'BALLABGARH', 'FARIDABAD',
       'KARNAL', 'GHARAUNDA PART', 'INDRI', 'NILOKHERI', 'ASSANDH',
       'NISSING AT CHIRAO', 'LADWA', 'BABAIN', 'THANESAR', 'SHAHBAD',
       'PEHOWA', 'AMBALA-I', 'NARAINGARH', 'BARARA', 'SAHA', 'ALEWA',
       'JIND', 'SAFIDON', 'NARWANA', 'JULANA', 'PILLUKHERA',
       'MAHENDRAGARH', 'NARNAUL', 'KANINA', 'ATELI NANGAL', 'KALAYAT',
       'SIWAN', 'KAITHAL', 'PUNDRI', 'GUHLA', 'ISRANA', 'PANIPAT',
       'MADLAUDA', 'BAPOLI', 'SAMALKHA', 'BILASPUR', 'JAGADHRI',
       'CHHACHHRAULI', 'MUSTAFABAD', 'RADAUR', 'REWARI', 'BAWAL', 'NAHAR',
       'KHOL AT REWARI', 'FATEHABAD', 'TOHANA', 'BHATTU KALAN', 'RATIA',
       'BHUNA', 'JAKHAL', 'PINJORE', 'MORNI', 'JHAJJAR', 'BERI',
       'BAHADURGARH', 'MATANNAIL', 'NUH', 'FEROZEPUR JHIRKA', 'HATHIN',
       'HISAR-II', 'HANSI-II', 'SIWANI', 'LAKHAN MAJRA', 'MUNDLANA',
       'SOHNA', 'AMBALA-II', 'UCHANA', 'RAJOUND', 'VASUDEVANALLUR',
       'SADAURA PART', 'JATUSANA', 'RAIPUR RANI', 'SALHAWAS', 'PUNAHANA',
       'NAGINA', 'TAORU', 'PALWAL', 'SHAHZADPUR', 'NANGAL CHAUDHRY',
       'HASSANPUR', 'CHARKHI DADRI', 'ANDANA', 'HODAL', 'BAUND',
       'GOURNAGAR', 'JHOJHU', '9999', nan], dtype=object)

In [11]:
data[data['BlockName'] == '0   '].value_counts()

BlockName  Category    Year  Month  Day  Crop                              DistrictName   QueryType  Season  Sector        StateName  QueryText                                        KccAns                                                                        latitude  longitude
0          0           2009  2      20   Guava                             PANIPAT        29         JAYAD   HORTICULTURE  HARYANA    plstell mecontrol of flower fallen in guava      spray of planofix                                                             29.3913   76.9772      18
                             9      28   9999                              AMBALA         9999       JAYAD   9999          HARYANA    test2                                            test1                                                                         30.3844   76.7704      14
                             2      12   Peas field peas garden peasmatar  KARNAL         2          KHARIF  AGRICULTURE   HARYANA    HOW TO CONTROL POWDERY MILDEW OF PEA CROP        SPRAY TO SULFAX  500 GM IN 200 LITRE OF WATER ACRE                            29.7256   76.9107      13
                             3      6    9999                              JHAJJAR        9999       KHARIF  9999          HARYANA    INFORMATION REGARDING SOWING TIME OF OKRA CROP   THE SOWING TIME OF OKRA FEB MARCH                                             28.5964   76.6505      11
                                    3    Onion                             AMBALA         29         KHARIF  HORTICULTURE  HARYANA    HOW TO CONTROL THRIPS OF ONION CROP              SPRAY TO MALATHION  300 ML IN 200 LITRE OF WATER ACRE                         30.3844   76.7704      11
                                                                                                                                                                                                                                                                                            ..
                             9      20   9999                              KARNAL         9999       JAYAD   9999          HARYANA    CONTROL OF LEAF FOLDER IN PADDY                  SPRAY OF ENDOSULFAN35EC  350ML IN 200 LITERS OF WATERACRE                     29.7256   76.9107       1
                                                                                                                                      CONTROL OF STEM BORER IN PADDY                   SPRAY OF MONOCROTOPHOS  500ML IN 200 LITERS OF WATER PER ACRE                 29.7256   76.9107       1
                                                                           KURKSHETRA     9999       JAYAD   9999          HARYANA    HOW TO CONTROL OF BLAST IN PADDY CROP            SPRAY TO BEEM  120GM IN 200 LITER OF WATERACRE                                29.0000   76.0000       1
                                                                           MAHENDRA GARH  9999       JAYAD   9999          HARYANA    CONTROL OF KARNAL SMUT OF PADDY CROP             SPRAY TILT  200 ML IN 200 LITRES OF WATER PER ACRE                            29.0000   76.0000       1
           Vegetables  2013  3      29   Brinjal                           PALWAL         76         KHARIF  HORTICULTURE  HARYANA    how to control termite in brinjal crop           brodcast of chiloropyriphos  15 liter  2 liter water in 20 kg drysand  acre   28.0599   77.3223       1
Name: count, Length: 63746, dtype: int64

In [17]:
data[data['BlockName'].isnull()]

,BlockName,Category,Year,Month,Day,Crop,DistrictName,QueryType,Season,Sector,StateName,QueryText,KccAns,latitude,longitude
2428894,NaN,Others,2022,6,4,Others,SIRSA,Weather,NaN,AGRICULTURE,HARYANA,Farmer asked query on Weather,42-43 28 15 25...,29.6063,74.9037
2428895,NaN,Others,2022,6,4,Others,SIRSA,Government Schemes,NaN,AGRICULTURE,HARYANA,Information regarding DDA contact number Sirsa,01666-222371,29.6063,74.9037
2435261,NaN,Others,2022,6,3,Others,AMBALA,Weather,NaN,AGRICULTURE,HARYANA,Farmer asked query on Weather,,30.3844,76.7704